<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
  <classes>
  <class name="demoProject.login.TC_validUser"/>
  <class name="demoProject.login.TC_invaliduser"/>
    <class name="demoProject.login.TC_invalidpassword"/>
    <class name="demoProject.login.TC_bothinvalid"/>
  
  
  
  </classes>
  
  
  </test> <!-- Test -->
</suite> <!-- Suite -->
